.section .future {padding:15px 9px; width:1170px; height:2000px; background:#fff; border:1px solid #cccccc;}

.section .future .title {height:40px; line-height:40px; text-indent:20px; margin-bottom:15px; border-bottom:1px solid #fcc534; color:#999; font-size:20px;}
.section .future .title .more{float:right; font-size:12px; margin-bottom:10px; margin-right:25px;}
.section .future .title .more:hover{cursor:pointer; color:#fcc534}

.section .future .follow{height:490px; margin:10px 20px}
.section .future .follow .text{float:right; width:750px; height:450px;}
.section .future .follow .image{float:left; width:360px; height:490px;}
.section .future .follow .image .image1{width:360px; height:240px;}
.section .future .follow .image .image2{width:360px; height:240px; margin-top:10px;}

.section .future .goods{height:800px; margin:10px 20px}
.section .future .tag{width:200px; float:left;}
.section .future .tag ul{list-style:none; margin:0; padding:0; float:left;}
.section .future .tag li{display:inline-block; zoom:1; *display:inline; height:25px;line-height:25px;padding: 0 10px 0 10px; margin-right:3px; margin-bottom:1px; color:#fcc534; font-size:12px;background-color:#F0F8FF; cursor:pointer; overflow:hidden;}
.section .future .tag li:hover{background-color:#fcc534; color:#fff}
.section .future .tag li span{color:#999999;}

.section .future .goodslist{width:900px; float:right;}
.section .future .goodslist .items{ }
.section .future .goodslist .items .item{float:left; width:282px; height:257px; margin:0 15px 20px 0}
.section .future .goodslist .items .item .image {width:282px; height:187px; line-height:178px; text-align:center; cursor:pointer; border:1px solid #cccccc}
.section .future .goodslist .items .item .image img{vertical-align:middle;}
.section .future .goodslist .items .item .price{height:25px; padding-top:8px; color:#C01921; font-size:13px; font-weight:bold;}
.section .future .goodslist .items .item .name{height:45px; padding-top:3px; color:#727272; overflow: hidden;}
.section .future .goodslist .items .item .name:hover{cursor:pointer; color:#fcc534;}

.section .future .desc{height:430px; margin:10px 20px}
.section .future .desc .text{float:left; width:800px; height:430px;}
.section .future .desc .image{float:right; width:300px; height:430px;}
.section .future .desc .image .image1{width:300px; height:220px;}
.section .future .desc .image .image2{width:300px; height:200px; margin-top:10px;}

