.section .job-logo {
	display: inline-block;
	padding: 0;
	width: 1170px;
	min-height: 100px;
}

.section .job-desc {
	margin-top: 10px;
	margin-bottom: 60px;
	padding: 20px 15px;
	width: 1170px;
	min-height: 950px;
	background: #fff;
}

.section .job-desc .title {
	color: #616669;
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
	font-size: 20px;
	border-bottom: 1px dashed #ccc;
}

.section .job-desc .title a {
	color: #616669;
	text-decoration: none;
	font-size: 14px;
}

.section .job-desc .title a:hover {
	color: #616669;
	background: #fef6e1;
	text-decoration: none;
}

.section .job-desc .info {
	color: #616669;
	height: 35px;
	line-height: 35px;
	text-indent: 20px;
	font-size: 16px;
}

.section .job-desc .content {
	margin: 5px 20px;
	padding: 20px;
	background: #fef6e1;
	color: #616669
}